 <div class="header">
  <h1>パスワードリセットのご案内</h1>
</div>

<div class="content">
  <p><%= @user.email %>様</p>

  <p>パスワードリセットのリクエストを受け付けました。下記のボタンからパスワードの再設定を行ってください。</p>

  <a href="<%= @url %>" class="button">パスワードをリセットする</a>

  <p class="expiry">※このリンクは<%= distance_of_time_in_words(Time.now, @user.reset_password_token_expires_at) %>有効です。</p>

  <p>もしパスワードリセットをリクエストした覚えがない場合は、このメールを無視してください。あなたのアカウントに変更はありません。</p>
</div>

<div class="footer">
  <p>このメールは自動送信されています。返信はできませんのでご了承ください。</p>
  <p>© <%= Date.today.year %> GTS. All rights reserved.</p>
</div>
