<%# キャラクター検索フォーム部分 %>
<div class="mx-12 p-4 rounded-xl shadow-xl">
  <h2 class="text-xl font-bold mb-2">検索キャラクター</h2>

  <%# 該当のコントローラを自動で指定 %>
  <%= form_with url: url_for(controller: controller.controller_name, action: :index),
                method: :get,
                local: true,
                class: "flex flex-wrap justify-center gap-4" do |f| %>

    <% 4.times do |i| %>
      <div class="flex flex-col space-y-2" data-controller="character-selector">
        <div class="w-full">
          <%= select_tag "character#{i+1}",
                    options_from_collection_for_select(@characters, :id, :name, params["character#{i+1}"]),
                    include_blank: 'キャラクター選択',
                    class: 'select-bordered w-auto h-10 character-select',
                    data: {
                      character_selector_target: "select",
                      action: "change->character-selector#change"
                    } %>
        </div>
        <div data-character-selector-target="container"
          class="character-image-container h-24 flex items-center justify-center hidden">
          <img data-character-selector-target="image"
              class="character-image h-full object-contain"
              alt="キャラクター画像">
        </div>
      </div>
    <% end %>
    <div class="flex">
      <button type="submit" class="btn btn-sm btn-primary">検索</button>
    </div>
  <% end %>
</div>
