<footer class="footer footer-horizontal footer-center bg-base-300 text-base-content rounded p-4">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover"><%= link_to t('.term_of_use'), terms_of_use_path %></a>
    <a class="link link-hover"><%= link_to t('.privacy_policy'), privacy_policy_path %></a>
    <a class="link link-hover"><%= link_to t('.contact'), '#' %></a>
  <aside>
    <p class="ml-8 font-bold">Copyright © <%= Date.today.year %> - Genshi Team Share/Search</p>
  </aside>
</footer>
