<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-5">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">Term of Use</a>
    <a class="link link-hover">Privacy Policy</a>
    <a class="link link-hover">Contact</a>
  <aside>
    <p>Copyright © <%= Date.today.year %> - Genshi Team Share/Search</p>
  </aside>
</footer>
