<div class="navbar bg-gradient-to-b from-base-300 to-transparent" data-controller="sidebar">
  <div class="flex-1 flex">
    <%# サイドバーページでのみハンバーガーメニューを表示（デスクトップのみ） %>
    <% unless ['top'].include?(controller_name) %>
      <%# デスクトップ用：サイドバー縮小/展開 %>
      <button class="btn btn-ghost btn-circle hidden md:flex"
              data-action="click->sidebar#toggle">
        <i class="fas fa-bars text-lg"></i>
      </button>
    <% end %>

    <%= link_to t('header.title'), '/', class: 'btn btn-ghost text-xl ml-2' %>
  </div>
  <div class="flex gap-2">
    <%= render 'shared/theme_toggle' %>
    <div class="flex-1">
      <%= link_to t('header.login'), login_path, class: 'btn btn-ghost text-xl' %>
    </div>
  </div>
</div>
