<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>

<header class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.show_resource", name: page.page_title),
      [namespace, page.resource],
      class: "btn bg-gray-500 text-white",
    ) if accessible_action?(page.resource, :show) %>
  </div>
</header>

<section>
  <%= render "form", page: page %>
</section>
