<%= turbo_stream.remove "user_rating_#{@team_rating_id}" do %>

  <%= turbo_stream.prepend "flash" do %>
    <div class="alert alert-success mb-4" role="alert">
      <div>評価を更新しました</div>
    </div>
  <% end %>

<%= turbo_stream.update "new_rating_section" do %>
  <%= link_to '評価を投稿', new_team_rating_path(team_id: @team.id), class: 'btn btn-primary' %>
<% end %>
