<% if f.object.send(field.attribute).attached? %>
  <div class="mb-4">
    <label class="label">
      <span class="label-text font-medium">現在の画像</span>
    </label>
    <% image_tag f.object.send(field.attribute), class: "w-40 h-40 object-cover rounded-lg mb-2" %>
  </div>
<% end %>

<div class="form-controle w-full">
  <%= f.file_field field.attribute, class: "file-input file-input-bordered w-full" %>
</div>
