<div class="mb-4">
  <label class="">
    <span class="text-sm font-medium"><%= t('image_field.view_image') %></span>
  </label>
</div>

<div class="form-controle w-full">
  <%= f.file_field field.attribute, class: "file-input file-input-bordered w-full" %>
</div>
