<% if field.resource.send(field.attribute).attached? %>
  <%= image_tag field.resource.send(field.attribute), class: "w-48 h-48 object-cover rounded-lg border border-base-300" %>
<% else %>
  <span class="text-gray-400">画像なし</span>
<% end %>
