<div class="flex-1 p-4 mx-20">
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold text-base-content mb-4">編成動画検索</h1>
    <div>
      <%= link_to 'シェアする', new_post_path, class: "btn btn-primary" %>
    </div>
  </div>

  <!-- 投稿一覧部分 -->
  <div>
    <div class="flex my-4">
      <h2 class="text-xl font-bold">お気に入りリスト</h2>
    </div>

    <!-- 投稿カードのグリッド -->
    <%= turbo_frame_tag "posts-page-#{@favorite_posts.current_page}" do %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <% if @favorite_posts.present? %>
        <% @favorite_posts.each do |post| %>
          <%= render 'posts', post: post %>
        <% end %>
      <% else %>
        <div class="col-span-3 text-center p-8">
          お気に入りがありません。
        </div>
      <% end %>
    </div>
    <%= turbo_frame_tag "posts-page-#{@favorite_posts.next_page}", loading: :lazy, src: path_to_next_page(@favorite_posts) %>
    <% end %>
  </div>
</div>
