  /* 0.5星評価用 */
  .star-rating {
    position: relative;
    font-size: 28px;
    line-height: 1em;
    letter-spacing: -0.1em;
    color: #ccc;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .star-rating:before {
    content: "★★★★★";
    position: absolute;
    top: 0;
    left: 0;
    color: #FFD700;
    overflow: hidden;
    white-space: nowrap;
  }

  /* 評価表示用の星のスタイル */
  .star-input {
    display: flex;
    flex-direction: row;
  }

  .star-input-item {
    position: relative;
    cursor: pointer;
    font-size: 48px;
    margin-right: 0.2em;
    color: #ccc;
  }

  /* クリック時のハイライト表示 */
  .star-input-item.active {
    color: #FFD700;
  }

  .star-input-item .half-star {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  /* 半星のハイライト表示 */
  .star-input-item.half-active {
    position: relative;
  }

  .star-input-item.half-active:before {
    content: '★';
    position: absolute;
    top: 0;
    left: 0;
    color: #FFD700; /* 塗りつぶした星の色 */
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
  }

  /* activeクラスとhalf-activeクラスが同時に付いている場合のスタイル */
  .star-input-item.active.half-active:before {
    display: none; /* 両方付いている場合は半星表示を無効にする */
  }
  .rating-value {
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
  }

