<div class="md:mx-4">
  <div class="flex justify-center mb-4">
    <%= link_to t('.new_video_share'), new_post_path, class: "btn bg-gray-500 w-auto text-white hover:opacity-80" %>
  </div>

  <% if @posts.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <% @posts.each_with_index do |post, index| %>
        <%= render 'shared/posts', post: post, index: index %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center py-12">
      <i class="fab fa-youtube text-2xl text-gray-300 mb-4"></i>
      <p class="text-gray-500 text-lg"><%= t('.no_video_share') %></p>
    </div>
  <% end %>
</div>
